<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<!--flask会自动添加一个static视图，这个视图采用相对于Flaskr/static目录的路径，可以使用url_for来引用它-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!--在Jinja中，花括号之间的内容是将输出到最终文档的表达式。-->
<!--花括号加百分号 表示控制流语句，如 if 和 for。-->
<nav>
  <h1>Flaskr</h1>
  <ul>
<!--    g和url_for在模板中是自动支持的-->
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>